@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(imagenes/out7.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.header-content{
    color: #fffdfc;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: right;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: darkgray;
}

#menu {
    display: none;
}
.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #312f2f;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #f3f1f1;
    padding: 0 250px;
    margin-bottom: 25px;
}


.txt p{
    font-size: 16px;
    color:whitesmoke;
    padding: 0 250px;
    margin-bottom: 35px;

}

.fashion-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50 px;
}

.fashion-1 img{
    width: 200px;
}

.fashion-img{
    position: absolute;
    top: 0;
    right: 0;
}

.fashion-1 h3{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.fashion-1 p {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.fashion-1 {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/out3.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding: 100px 0;
    }

    .btn-1 {
        display: inline-block;
        padding: 11px 35px;
        background-color: #f3f1f1;
        color: black;
        text-transform: uppercase;
    }

    .btn-1:hover {
        background-color: slategray;
    }

    .footer {
        padding: 100px 0;
        background-color: black;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
color: #fffdfc;
margin-bottom: 15px;
}

.article {
    color: black;
}